.scamchecker-message-bar {
	position: fixed;
	top: 0;
	z-index: 999999;
	width: 100%;
	padding: 10px 0px;
	justify-content: center;
	color: white;
	font-weight: 600;
	font-size: 20px;
	font-family: Arial;
	display: flex;
	align-items: center;
}

.scamchecker-message-fail {
	background-color: red;
}

.scamchecker-dismiss-button {
	background-color: white;
	color: black;
	margin: 0px 10px;
	padding: 5px;
	border-color: white;
	border-radius: 3px;
	font-weight: 400;
	font-size: 18px;
	font-family: Arial;
}

.scamchecker-message-success {
	background-color: green;
}
